body {
    margin: 0;
    background: black;
    font-family: 'Spartan', sans-serif;
    font-weight: 100%;
    overflow-x: hidden;
}

.header {
    background: #8f8f8f;
    width: 100vw;
    height: 14vh;
    position: relative;
}

.header .logo {
    width: 20vh;
    float: left;
    position: absolute;
    margin-right: 10vw;
    margin-left: 5vw;
    margin-top: -3vh;
}

.header ul {
    position: absolute;
    width: 50vw;
    list-style-type: none;
    padding-left: 30vw;
    margin-top: 5vh;
}

.header ul li {
    display: inline;
}

.header ul li a {
    color: #155400;
    transition: all ease-in-out 150ms;
    text-decoration: none;
    font-size: 1.6vw;
    padding-left: 6vw;
}

.header ul li a:hover {
    color: green;
    transition: all ease-in-out 150ms;
}

.heading {
    height: 15vw;
    overflow: hidden;
}

.heading .bkg {
    width: 100vw;
    object-fit: cover;
}

.heading h1 {
    font-family: 'Playfair Display', serif;
    position: absolute;
    color: white;
    width:100vw;
    text-align: center;
    font-size: 6vw;
    margin-top: -25vw;
    opacity: 1;
}

.main {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top:1vh;
    padding-bottom: 9vh;
    background: linear-gradient(180deg, rgb(32, 32, 32) 0%, rgb(8, 8, 8) 95%, rgb(0, 0, 0) 100%);
}

.main h1 {
    color: white;
    font-weight: 800;
    text-align: center;
    margin-top: 6vh;
    margin-left: 0vw;
    font-size: 7vh;
}

.main h2 {
    color:white;
    margin-top: 1vw;
    font-weight:500;
    text-align: center;
}

.main p {
    line-height: 1.5;
    color: rgb(201, 201, 201);
    margin-left: 0vw;
    font-size: 3vh;
}

mark {
    background-color: blanchedalmond;
}

.button4 {
    float: center;
    margin-left: 30vw;
    width: 40vw;
    font-family: 'Poppins';
    border: none;
    background-color: green;
    color: white;
    font-size: 10vh;
    transition: all cubic-bezier(.79, .14, .15, .86) 150ms;
}

.button4:hover {
    transition: all cubic-bezier(.79, .14, .15, .86) 150ms;
    font-family: 'Poppins';
    border: none;
    background-color: rgb(0, 85, 0);
    color: blanchedalmond;
}