* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background-color: grey;*/
}

body {
    background-color: black;
    color: white;
    font-family: "michroma";
}

.mobile-nav a{
    text-decoration: none;
}

.mobile-nav{
    padding: 0 20px;
    background-color: grey;
    height: 35px;
    display: flex;
    justify-content: space-between;
}

#ic1 #ic1logo {
    display: none;
}

.contentbox .desktop{
    display: none;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

.menumenu{
    background-color: grey;
    float: right;
    height: 25px;
    width: 20vw;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.menulogo1{
    height: 3px;
    width: 30px;
    background-color: snow;
}

.menulogo2{
    height: 3px;
    width: 30px;
    background-color: snow;
}

.menulogo3{
    height: 3px;
    width: 30px;
    background-color: snow;
}

.mobilebtn{
    position: absolute;
    top: 80%;
    left:50%;
    transform: translate(-50%, 50%);
}

.BTN{
    position: relative;
    text-align: center;
    width: 200px;
    padding: 20px;
    font-size: 17px;
    color: var(--indicator-color-active);
    font-family: poppins;
    font-weight: 400;
    border: 0 solid var(--indicator-color-active);
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    box-shadow: 0 5px 15px 0 var(--indicator-color-active) inset, 0 5px 15px 0 var(--indicator-color-active),
                0 5px 15px 0 var(--indicator-color-active) inset, 0 5px 15px 0 var(--indicator-color-active);
    text-shadow: 0 0 5px var(--indicator-color-active), 0 0 5px var(--indicator-color-active);
}


.menu{
    background-color: grey;
    width: 66%;
    height: 100vh;
    padding: 50px;
    transform: translateX(-500px);
    transition: 0.5s;
}

.menu li{
    list-style-type: none;
    border-bottom: 1px solid #AAFF00;
    padding: 30px 0;
    text-align: center;
}

.menu li:last-child{
    border-bottom: none;
}

.menu li:first-child a{
    font-weight: bold;
}

.menu li a{
    color: snow;
    text-decoration: none;
    font-size: 25px;
    transition: font-weight 0.2s;
}

.menu li a:hover{
    font-weight: bold;
}

.showmenu{
    transform: translateX(0);
}

@media screen and (max-width: 600px){
    .menu li a{
        font-size: 20px;
    }
}