html,
body {
    margin: 0;
    background: rgb(14, 14, 14);
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100%;
    overflow-x: hidden;
    height: 100%;
    line-height: 1.6;
    scrollbar-width: none;
}

:root {
    --indicator-color-active: hsl(104, 94%, 50%);
    --indicator-color-deactive: hsl(0, 95%, 31%);
    --body-color: hsl(233, 12%, 14%);
    --container-color: hsl(233, 12%, 20%);
    --container-color-light: hsl(233, 12%, 26%);
    --light-green: rgb(0, 168, 22);
    --dark-green: rgb(10, 90, 17);
}


/* Scroll snapping on the index page */

#indexpage {
    /* scroll-snap-type: y mandatory; */
    overflow-y: scroll;
    /* scroll-snap-points-y: repeat(110vh); */
}

.indnav {
    scroll-margin-top: 3vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#ic2 {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#ic2 p {
    background-color: #00000098;
}

#ic3 {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#ic4 {
    scroll-snap-align: center;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 0;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    /* background: rgb(0, 0, 0); */
    background: rgba(0, 0, 0, 0.479);
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    /* height: 100%; */
    background: linear-gradient(to top, rgb(0, 255, 0), rgb(0, 66, 0));
    animation: gradientrush 10s linear infinite;
}

#progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(0, 255, 0), rgb(0, 66, 0));
    filter: blur(30px);
}

#progressbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(0, 255, 0), rgb(0, 66, 0));
    filter: blur(10px);
}

.header {
    background: black;
    width: 100vw;
    height: 14vh;
    /* position: relative; */
    display: grid;
    grid-template-columns: 20vw 75vw 5vw;
    grid-template-rows: none;
    align-items: center;
}

.header .logo {
    height: 5vw;
    margin-left: 2vw;
    grid-column: 1;
    grid-row: 1;
}

.header .supp {
    width: 2.5vw;
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    transition: all ease-in-out 150ms;
}

.header .supp:hover {
    opacity: 0.5;
    transition: all ease-in-out 150ms;
}

.header ul {
    list-style: none;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    margin-left: -15vw;
    padding: 0vw;
}

.header ul li {
    display: inline-block;
    margin-left: 6vw;
    position: relative;
}

.header ul li a::before {
    content: '';
    height: 0.3vh;
    position: absolute;
    color: var(--dark-green);
    font-weight: 400;
    bottom: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.header a:hover::before {
    width: 100%;
    transition: ease 400ms;
    background-color: var(--light-green);
}

.header ul li a {
    color: var(--dark-green);
    transition: all cubic-bezier(.83, -0.01, .2, 1.01) 150ms;
    text-decoration: none;
    font-size: 2vw;
}

.header ul li a:hover {
    color: var(--light-green);
    transition: all cubic-bezier(.83, -0.01, .2, 1.01) 250ms;
}

.subheader {
    background: #525252;
    width: 100vw;
    height: 10vh;
    position: relative;
}

.subheader ul {
    width: 70vw;
    list-style-type: none;
    margin-top: -1vh;
    padding-bottom: 6vh;
    padding-left: 20vw;
    padding-top: 3vh;
}

.subheader ul li p {
    display: inline;
    position: center;
    color: var(--light-green);
    transition: all ease-in-out 150ms;
    text-decoration: none;
    font-size: 4vh;
    padding-left: 18vw;
}

.subheader ul li {
    display: inline;
}

.subheader ul li a {
    background-color: var(--light-green);
    transition: all ease-in-out 150ms;
    text-decoration: none;
    font-size: 2.5vh;
    padding-left: 10vw;
}

.subheader ul li a:hover {
    color: var(--dark-green);
    transition: all ease-in-out 150ms;
}

.contentbox {
    margin-top: 0vh;
    margin-bottom: 5vh;
}

.contentbox h1 {
    font-family: 'Michroma', sans-serif;
    font-size: 10vh;
    color: rgba(0, 0, 0, 0);
    font-weight: 100;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    padding-left: 6vw;
    padding-right: 3vw;
    text-align: left;
    position: relative;
    margin-top: 0vh;
    margin-bottom: 0vh;
}

#introtext {}

.contentbox h2 {
    padding-top: 0vh;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-size: 10vh;
    padding-left: 4vw;
    text-align: left;
    transition: ease-in-out 400ms;
}

.contentbox h3 {
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-size: 5vh;
    padding-left: 2vw;
    text-align: left;
    transition: ease-in-out 400ms;
    margin-bottom: 0vh;
}

.contentbox p {
    color: rgb(255, 255, 255);
    font-size: 3vh;
    font-weight: 300;
    padding-left: 8vw;
    padding-right: 5vw;
    padding-top: 0vw;
}

.contentbox .biglinkleft {
    grid-column: 1;
    transition: ease-in-out 400ms;
    grid-row: 1;
}

.contentbox .biglinkright {
    grid-column: 2;
    grid-row: 1;
    transition: ease-in-out 400ms;
}

.contentbox .biglinkright:hover {
    transition: ease-in-out 400ms;
}

.contentbox .title {
    padding-bottom: 0vh;
    line-height: 8vh;
    grid-column: 1;
    margin-top: 0vh;
}

.contentbox .description {
    transition: ease-in-out 400ms;
    /* position: absolute; */
    margin-left: 50vw;
    grid-column: 1 / span 3;
    grid-row-start: 2;
}

.contentbox .title:nth-child(4n-3) {
    grid-column: 1;
    grid-row: 2;
}

#inddownarr {
    display: none;
}

#ic1 {
    /* scroll-snap-align: start center; */
    margin-top: 0vh;
    height: 86vh;
    background-image: url("../resources/images/audience-g92176bc73_1920.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    /* background-filter: blur(5px); */
}

#ic2 {
    /* scroll-snap-align: start center; */
    height: 100vh;
    background-image: url("../resources/images/casette.jpg");
    background-size: cover;
    background-position: center;
}

#ic3 {
    /* scroll-snap-align: start center; */
    height: 100vh;
    background-image: url("../resources/images/vrspeed.jpg");
    background-size: cover;
    background-position: center;
}

#ec2 {
    display: grid;
    grid-template-columns: 50vw 50vw;
    background-size: cover;
    background-position: center;
    /* height: 20vh; */
    grid-template-rows: auto repeat(4, 10vh);
    -webkit-transition: background-image 400ms ease-in-out;
    /* padding-bottom: 10vh; */
}

#ec2title {
    grid-column: 1 / span 2;
    grid-row: 1;
}

#ec2 p {
    opacity: 0;
    /* height: 0vh; */
    /* margin: 0vh; */
    color: white;
}

#ec2 .title {
    -webkit-text-stroke-color: rgb(145, 145, 145);
}

#ec2 .title:hover {
    font-size: 6vh;
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 50px white, 0 0 5px var(--light-green);
}

#rosterbtn {
    margin-top: 5vh;
    grid-column: 1 / span 2;
    grid-row: 7;
    align-self: center;
    justify-self: center;
}

#ac1 {
    height: 100vh;
    background-image: url("../resources/images/stage-epiclighting.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
}

#ac2 {
    height: 40vh;
    background-image: url("../resources/images/laser-light-ga4f07054a_1920.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    align-items: center;
    grid-template-columns: 50vw 50vw;
}

#ac2:hover {
    filter: grayscale(100%);
    /* opacity: 0.8; */
    transition: ease-in-out 400ms;
}

#ac2 h2 {
    -webkit-text-stroke-color: white;
    text-align: center;
    cursor: pointer;
}

.collapsible {
    background-color: #313131;
    font-family: 'Michroma', sans-serif;
    font-size: 8vh;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px white;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: all ease-in-out 200ms;
}

.active,
.collapsible:hover {
    background-color: rgb(71, 71, 71);
    transition: all ease-in-out 200ms;
}

.collapsible:after {
    content: url("../resources/images/downarr.png");
    font-weight: bold;
    float: right;
    margin-left: 15px;
    transition: all cubic-bezier(.82, .01, .58, 1) 200ms;
}

.active:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: all cubic-bezier(.82, .01, .58, 1) 200ms;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
}

.heading {
    font-family: 'Michroma', sans-serif;
    font-size: 10vh;
    color: rgba(0, 0, 0, 0);
    font-weight: 100;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 0vh;
    position: relative;
}

.subtext {
    font-size: 2vh;
    text-align: center;
    padding-bottom: 3vh;
}

body {
    margin: 0;
    padding: 0;
}

.contactcontent {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 46vh 39vh;
    overflow: hidden;
    align-items: center;
}


/* contact form */

.formcontainer {
    grid-column: 1;
    grid-row: 1 / span 2;
    float: right;
    position: relative;
    top: 0;
}

.formcontainer .iframeHeader {
    color: white;
    text-decoration: none;
    font-size: 2.5vh;
    text-align: center;
}

.formcontainer .form {
    border: none;
    height: 80vh;
    width: 30vw;
    float: right;
    padding: 5vw;
}


/* contact map */

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapcontainer {
    float: left;
    margin-left: 10vw;
    /* margin-top: 3vh; */
}

.mapcontainer .iframeHeader {
    color: white;
    text-decoration: none;
    font-size: 2.5vh;
    text-align: center;
}

.mapcontainer .map {
    grid-column: 2;
    grid-row: 2;
    border: none;
    height: 32vh;
    width: 30vw;
    float: left;
}


/* contact info box */

.contactbox {
    position: relative;
    /* margin-top: 3vh; */
    /* height: 43vh; */
    grid-column: 2;
    grid-row: 1;
    background-color: var(--dark-green);
    margin-left: 10vw;
    width: 30vw;
}

.contactbox h3 {
    color: rgba(0, 0, 0, 0);
    font-weight: 100;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 5vh;
    margin-top: 0;
    margin-left: 2vw;
    margin-bottom: 0;
}

.infobox div {
    display: flex;
    margin: 0;
    margin-left: 2vw;
    padding: 0;
    align-items: center;
}

.infobox div span {
    width: 40px;
    height: 40px;
    background: var(--light-green);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%
}

.infobox div p {
    font-size: 3vh;
    margin-left: 1em;
    padding: 0;
}

.infobox div a {
    margin-left: 1em;
    font-size: 3vh;
    color: white;
    transition: all ease-in-out 250ms;
    text-decoration: none;
}

.infobox div a:hover {
    color: rgb(146, 146, 146);
    transition: all ease-in-out 250ms;
}

.soc {
    margin-top: 10px;
    display: flex;
}

.soc li {
    list-style: none;
    margin-right: 15px;
}

.soc li a {
    color: white;
    transition: all ease-in-out 250ms;
    font-size: 4vh;
}

.soc li a:hover {
    color: rgb(146, 146, 146);
    font-size: 4vh;
    transition: all ease-in-out 250ms;
}

.attpara {
    margin-left: 1vw;
    margin-right: 1vw;
    color: white;
    font-size: 2vh;
}

.para {
    margin-left: 60vw;
    margin-right: 10vw;
    margin-top: -65vh;
}

h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    font-family: 'Michroma', sans-serif;
    color: rgba(0, 0, 0, 0);
    font-weight: 100;
    -webkit-text-stroke-width: 2px;
}

h3 {
    text-transform: uppercase;
    font-family: 'Michroma', sans-serif;
    color: rgba(0, 0, 0, 0);
    font-weight: 100;
    -webkit-text-stroke-width: 2px;
}

h4 {
    margin-top: 0vh;
    margin-left: 2vw;
    color: rgba(0, 0, 0, 0);
    font-weight: 100;
    -webkit-text-stroke-width: 2px;
}

.vl {
    border-left: 0.1vw solid var(--dark-green);
    height: 40vh;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    margin-top: 35vh;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}


/* legacy button (non-glow) */

.twoutbtn {
    width: 50vw;
    height: 10vh;
    border: none;
    color: black;
    font-family: 'Barlow Condensed', sans-serif;
    border-radius: 4px;
    transition: ease-out 0.3s;
    background-color: var(--dark-green);
    font-size: 5vh;
    outline: none;
    position: relative;
    z-index: 1;
}

.twoutbtn:hover {
    color: white;
    cursor: pointer;
}

.twoutbtn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: var(--light-green);
}

.twoutbtn:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}


/* artist cards */

.gallery {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    margin-left: 15vw;
    margin-right: 15vw;
    grid-gap: 5vw;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    background: var(--clr-neutral-900);
    margin-top: 0;
    padding-bottom: 20vh;
}

.card {
    color: white;
    background-size: cover;
    background-position: center;
    padding: 30vh 0 0;
    /* height: 30vh; */
    max-width: 60ch;
    border-radius: .5rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.card:hover {
    transition: transform 500ms ease;
    transform: scale(1.05);
    box-shadow: 0px 0px 50px var(--light-green);
}

.card-content {
    --padding: 1vh;
    padding: var(--padding);
    /* margin-top: -10vh; */
    background: linear-gradient( hsl(0 0% 0% / 0), hsl(20 0% 0% / .3) 20%, hsl(0 0% 0% / 1));
    transform: translateY(80%);
    transition: transform 500ms ease;
}

.card:hover .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
}

.card-content>*:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
}

.card:hover .card-content>*:not(.card-title) {
    opacity: 1;
    /* transition-delay: 500ms; */
}

.card-title {
    font-family: 'Michroma', sans-serif;
    position: relative;
    width: max-content;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 0.5vh;
    left: calc(var(--padding)*-1);
    bottom: -1vh;
    width: calc(100% + var(--padding));
    background: var(--light-green);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease-in-out;
}

.card:hover .card-title::after {
    transform: scaleX(1);
}

.card-body {
    color: rgb(255, 255, 255 /.8)
}

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: var(--light-green);
    padding: .5em 1.25em;
    transition: 200ms ease-in-out;
    border-radius: .25em;
}

.button:hover {
    transition: 200ms ease-in-out;
    background-color: var(--dark-green);
}

.animheading {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: 'Courier', monospace;
    color: white;
    position: relative;
    width: max-content;
}

.animheading::before,
.animheading::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.animheading::before {
    background: rgb(14, 14, 14);
    animation: typewriter 3s steps(15) 1s forwards;
}

.animheading::after {
    width: .125em;
    background: white;
    animation: typewriter 3s steps(15) 1s forwards, blink 1200ms steps(15) infinite;
}

.subtitle {
    font-family: 'Michroma', sans-serif;
    font-size: 10vh;
    color: white;
    /*color: white;
    font-size: 5rem;*/
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    padding-left: 2vw;
    padding-right: 2vw;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 5s ease 6s forwards;
}

.box {
    position: relative;
    margin-top: 10vh;
    left: 50vw;
    width: 100vw;
    transform: translate(-50%, -50%);
}

input {
    position: relative;
    display: inline-block;
    font-size: 1vw;
    font-family: 'Barlow Condensed', sans-serif;
    box-sizing: border-box;
    transition: .5s;
}

input[type="text"] {
    background: rgb(255, 255, 255);
    margin-left: 15vw;
    width: 50vw;
    height: 5vh;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

input[type="submit"] {
    position: relative;
    border-radius: 0 25px 25px 0;
    width: 20vw;
    height: 5vh;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--dark-green);
    color: white;
}

input[type="submit"]:hover {
    background: var(--light-green);
}


/* Information cards */

.cardcontainer {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.card2 {
    background: #bdbdbd;
    width: 40vw;
    margin: 50px;
    height: 50em;
    transition: all 500ms ease-in-out;
    border-radius: 20px;
}

.card-image {
    background-color: aqua;
    height: 400px;
    /*! margin-bottom: 15px; */
    /*! margin-top: -160px; */
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card-1 {
    background-image: url(../resources/images/crowd.jpg);
}

.card-2 {
    background-image: url(../resources/images/producer.jpg);
}

.card2 h1 {
    color: black;
    font-size: 4vh;
    font-family: 'Michroma', sans-serif;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-bottom: 1vh;
}

.card2 a {
    background-color: var(--dark-green);
    color: white;
    padding: 15px 20px;
    line-height: 5vh;
    display: block;
    text-align: center;
    margin: 20px 50px;
    border-radius: 20px;
    transition: ease-in-out 200ms;
    text-decoration: none;
}

.card2 a:hover {
    background-color: var(--light-green);
    transition: ease-in-out 200ms;
}

.card2 p {
    padding-right: 1vw;
    padding-left: 1vw;
    margin-top: 0vh;
    color: black;
}

.card2:hover {
    background-color: white;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease-in-out;
    box-shadow: 0px 0px 50px var(--light-green);
}


/* Event Cards */

.eventcardcontainer {
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
}

.card27 {
    /* margin-top: 15vh; */
    margin-left: 3vw;
    position: relative;
    width: 30vw;
    height: 650px;
    background: #0F0F0F;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
}

.card27:hover {
    box-shadow: 0px 0px 50px var(--light-green);
    background-color: rgb(0, 36, 3);
    transition: ease 0.5s;
}

.card27::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #1a743c;
    transform: skewY(345deg);
    transition: 0.5s;
}

#basicet::before {
    background: #1a743c;
}

#advet::before {
    background-color: #009dff;
    /* background-image: linear-gradient(315deg, #979797 0%, #2e4863 40%); */
    transition: ease-in-out 0.5s;
}

#vret::before {
    background-color: #d09d1f;
    /* background-image: linear-gradient(315deg, #d09d1f 0%, #6b4f09 40%); */
}

.card27:hover::before {
    top: -70;
    transform: skewY(390deg);
}

.card27::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.1);
}

.card27 .imgBx {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.card27 .imgBx img {
    max-width: 100%;
    transition: ease 0.3s;
}

.card27:hover .imgBx img {
    transition: ease 0.5s;
}

.card27:hover .imgBx img {
    max-width: 50%;
}

.card27 .contentBx {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.card27 .contentBx h3 {
    font-size: 40px;
    margin-top: 100px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: ease-in-out 0.2s;
}

.card27 .contentBx .price {
    margin-top: 20px;
    font-size: 15px;
    text-transform: none;
    color: white;
    font-weight: 300;
    /* letter-spacing: 1px; */
    color: rgba(0, 0, 0, 0);
    transition: ease 0.2s;
}

.card27:hover .contentBx .price {
    margin-top: -40px;
    color: white;
    transition: ease 0.8s;
}

#advet .contentBx .price {
    font-size: 14px;
}

.card27 .contentBx #buy {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 10px 30px;
    margin-top: 30px;
    color: white;
    text-decoration: none;
    /* background: #1a743c; */
    border-radius: 30px;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
    margin-left: 50%;
    line-height: 25px;
}

.card27:hover .contentBx h3 {
    margin-top: -30px;
    transition: ease 0.5s;
    color: #000;
    text-shadow: 0 0 10px #FFF;
}

.card27:hover .contentBx .buy {
    top: 0;
    opacity: 1;
}


/* button with glowing animation */

.glowbtn {
    position: relative;
    display: inline-block;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 5.5vh;
    color: #fff;
    font-size: 4vh;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #0a5a11, #1acad6, #0f9099, #00a816);
    /* light green : var(--light-green) */
    /* dark green : var(--dark-green) */
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
}


/* location specific parameters */

#rosterbtn {
    width: 15vw;
    height: 6vh;
    margin-left: 15vw;
}

#backbtn {
    top: 2vh;
    left: 50vw;
    width: 15vw;
    height: 6vh;
    line-height: 1vw;
}

#bookbtn {
    margin-left: 50%;
    margin-top: 5vh;
    height: 6vh;
    font-size: 1.7vw;
    line-height: 1vw;
}

.glowbtn:hover {
    animation: animate 8s linear infinite;
}

.glowbtn:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #0a5a11, #1acad6, #0f9099, #00a816);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
}

.glowbtn:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}


/* DEVELOPMENT */

#ic1 h1 {
    padding-top: 5vh;
}

#ic1 a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid green;
    margin: 40px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    margin-left: 8vw;
}

#ic1 a:hover {
    transition-delay: 1.5s;
    color: black;
    box-shadow: 0 0 10px green, 0 0 20px green, 0 0 40px green, 0 0 80px green, 0 0 160px green;
}

#ic1 a span {
    position: relative;
    z-index: 100;
}

#ic1 a::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: green;
    box-shadow: 5px -8px 0 green, 5px 8px 0 green;
    transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
}

#ic1 a:hover::before {
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 green, 5px 0 0 green;
    transition-delay: 0s, 0.5s, 1s, 1s;
}

#ic1 a::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: green;
    box-shadow: -5px -8px 0 green, -5px 8px 0 green;
    transition: width 0.5s, right 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
}

#ic1 a:hover::after {
    width: 60%;
    height: 100%;
    right: 2px;
    box-shadow: 5px 0 0 green, 5px 0 0 green;
    transition-delay: 0s, 0.5s, 1s, 1s;
}


/* Mobile Menu */

.hamburger {
    position: relative;
    margin-top: -7vw;
    display: block;
    width: 45px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    margin-left: 92vw;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 10;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 1;
    background-color: black;
    padding-top: 120px;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: darkgreen;
    color: white;
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: green;
}


/* Site settings */

.sitesettingspanel {
    display: flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background: rgb(5, 76, 0);
    background: linear-gradient(337deg, rgba(5, 76, 0, 1) 0%, rgba(2, 35, 0, 1) 57%, rgba(0, 0, 0, 1) 100%);
}

.sitesettingspanel h1 {
    font-family: 'Michroma', sans-serif;
    font-size: 5vh;
    color: rgba(0, 0, 0, 0);
    font-weight: 100;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: left;
    position: relative;
    margin-top: 0vh;
    margin-bottom: 0vh;
}

.sitesettingspanel h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3vh;
    color: rgb(255, 255, 255);
    font-weight: 100;
    /* -webkit-text-stroke-width: 1px; */
    /* -webkit-text-stroke-color: white; */
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: center;
    position: relative;
    margin-top: 0vh;
    margin-bottom: 0vh;
}

.skeuo__switch {
    height: 10vh;
    background-color: var(--container-color);
    padding: 0 2vh;
    margin-right: 10px;
    padding-right: 20px;
    border-radius: .75rem;
    display: flex;
    align-items: center;
    align-self: center;
    cursor: pointer;
}

.skeuo__switch h1 {
    font-family: 'Michroma', sans-serif;
    /* font-size: 10vh; */
    color: rgba(0, 0, 0, 0);
    font-weight: 100;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    padding-left: 6vw;
    padding-right: 3vw;
    text-align: left;
    position: relative;
    margin-top: 0vh;
    margin-bottom: 0vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.skeuo__switch p {
    padding-left: 1vw;
    padding-right: 1vw;
}

.skeuo__input {
    display: none;
}

.skeuo__rail {
    position: relative;
    width: 88px;
    height: 28px;
    background-color: var(--container-color-light);
    border-radius: 3rem;
}

.skeuo__circle {
    display: block;
    width: 36px;
    height: 36px;
    background: radial-gradient(circle at 33%, #bedfbd 0%, #23641d 50%, rgba(255, 255, 255, 0) 100%);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    /* transition: transform .4s; */
    transition: ease-in .2s;
}

.skeuo__indicator {
    width: 12px;
    height: 12px;
    background-color: var(--indicator-color-active);
    border-radius: 50%;
    margin-left: 1.5rem;
    transition: .4s;
}


/* Toggle animation effects */

.skeuo__input:checked~.skeuo__rail .skeuo__circle {
    background: radial-gradient(circle at 33%, #d7d8da 0%, #5d5e65 50%, rgba(255, 255, 255, 0) 100%);
    transform: translate(52px, -50%);
}

.skeuo__input:checked~.skeuo__indicator {
    background-color: var(--indicator-color-deactive);
}


/* Telemetry Cards */

.telemetrycardcontainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.telemetrycardcontainer .telemetrycard {
    position: relative;
    width: 300px;
    height: 400px;
    background: #949494;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    background: rgba(0, 0, 0, 0.438);
    overflow: hidden;
    opacity: 0.2;
    animation-name: animate9;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.telemetrycard::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(97, 97, 97, 0.842);
    pointer-events: none;
    transition: 0.3s ease-in-out;
}

#ic2cc1::before,
#ic3cc1::before {
    left: 148px;
}

#ic2cc1:hover::before,
#ic3cc1:hover::before {
    left: 2px;
}

#ic2cc2::before,
#ic3cc2::before {
    left: 75px;
}

#ic2cc2:hover::before,
#ic3cc2:hover::before {
    left: 2px;
}

.telemetrycard:hover::before {
    transition: 0.3s ease-in-out;
    width: 100%;
}

.telemetrycardcontainer .telemetrycard .telemetrycontent {
    padding: 30px;
    text-align: center;
}

.telemetrycardcontainer .telemetrycard .telemetrycontent h2 {
    position: absolute;
    right: 30px;
    font-size: 4em;
    font-weight: 800;
    color: var(--light-green);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}

.telemetrycardcontainer .telemetrycard:hover .telemetrycontent h2 {
    opacity: 1;
    transform: translateY(-145px);
}

.telemetrycardcontainer .telemetrycard .telemetrycontent h3 {
    position: relative;
    text-align: center;
    top: 10px;
    font-size: 1.5em;
    color: #fff;
    z-index: 2;
    opacity: 1;
    letter-spacing: 1px;
    transition: 0.5s;
    padding: 0;
}

.telemetrycardcontainer .telemetrycard:hover .telemetrycontent h3 {
    opacity: 1;
}

.telemetrycardcontainer .telemetrycard .telemetrycontent p {
    position: relative;
    padding: 20px;
    font-size: 17px;
    color: #fff;
    z-index: 0;
    opacity: 0.1;
    font-weight: 300;
    /* letter-spacing: 1px; */
    transition: 0.5s;
}

.telemetrycardcontainer .telemetrycard:hover .telemetrycontent h3,
.telemetrycardcontainer .telemetrycard:hover .telemetrycontent p {
    opacity: 1;
}

.telemetrycardcontainer .telemetrycard .telemetrycontent a {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: #fff;
    color: #0c002b;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.telemetrycard .telemetrycontent span {
    transition: 0.5;
    opacity: 0;
}

.telemetrycard:hover .telemetrycontent span {
    opacity: 1;
}

.telemetrycard span {
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.telemetrycard:hover span {
    transition: 0.3s ease-in-out;
    opacity: 1;
}

.telemetrycardcontainer .telemetrycard span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, var(--light-green));
    animation: animate1 2s linear infinite;
}

.telemetrycardcontainer .telemetrycard span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, var(--light-green));
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

.telemetrycardcontainer .telemetrycard span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, var(--light-green));
    animation: animate3 2s linear infinite;
}

.telemetrycardcontainer .telemetrycard span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, var(--light-green));
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

.disclaimer {
    position: relative !important;
}

.mobile {
    display: none;
}


/* custom animations */

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes animate9 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

@keyframes gradientrush {
    0%,
    100% {
        filter: hue-rotate( 0deg);
    }
    50% {
        filter: hue-rotate( 360deg);
    }
}


/* SFHS TSA 2021*/


/* variables */