#bassthoven {
    background-image: url(../resources/images/artists/bass_tall.png);
}

#droole {
    background-image: url(../resources/images/artists/droole_tall.png);
}

#smore {
    background-image: url(../resources/images/artists/smore_tall.png);
}

#paft {
    background-image: url(../resources/images/artists/paft_tall.png);
}

#dfrog {
    background-image: url(../resources/images/artists/df.png);
}

#galaxies {
    background-image: url(../resources/images/artists/galaxies.png);
}