html,
body {
    margin: 0;
    background: rgb(14, 14, 14);
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100%;
    overflow-x: hidden;
    height: 100%;
    line-height: 1.6;
}

.header {
    background: black;
    width: 100vw;
    height: 14vh;
    /* position: relative; */
    display: grid;
    grid-template-columns: 20vw 75vw 5vw;
    grid-template-rows: none;
    align-items: center;
}

.header .logo {
    height: 5vw;
    margin-left: 2vw;
    grid-column: 1;
    grid-row: 1;
}

.header .supp {
    width: 2.5vw;
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    transition: all ease-in-out 150ms;
}

.header .supp:hover {
    opacity: 0.5;
    transition: all ease-in-out 150ms;
}

.header ul {
    list-style: none;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    margin-left: -15vw;
    padding: 0vw;
}

.header ul li {
    display: inline-block;
    margin-left: 6vw;
    position: relative;
}

.header ul li a::before {
    content: '';
    height: 0.3vh;
    position: absolute;
    color: rgb(10, 90, 17);
    font-weight: 400;
    bottom: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.header a:hover::before {
    width: 100%;
    transition: ease 400ms;
    background-color: rgb(0, 168, 22);
}

.header ul li a {
    color: rgb(10, 90, 17);
    transition: all cubic-bezier(.83, -0.01, .2, 1.01) 150ms;
    text-decoration: none;
    font-size: 2vw;
}

.header ul li a:hover {
    color: rgb(0, 168, 22);
    transition: all cubic-bezier(.83, -0.01, .2, 1.01) 250ms;
}

.subheader {
    background: #525252;
    width: 100vw;
    height: 10vh;
    position: relative;
}

.subheader ul {
    width: 70vw;
    list-style-type: none;
    margin-top: -1vh;
    padding-bottom: 6vh;
    padding-left: 20vw;
    padding-top: 3vh;
}

.subheader ul li p {
    display: inline;
    position: center;
    color: rgb(0, 168, 22);
    transition: all ease-in-out 150ms;
    text-decoration: none;
    font-size: 4vh;
    padding-left: 18vw;
}

.subheader ul li {
    display: inline;
}

.subheader ul li a {
    background-color: rgb(0, 168, 22);
    transition: all ease-in-out 150ms;
    text-decoration: none;
    font-size: 2.5vh;
    padding-left: 10vw;
}

.subheader ul li a:hover {
    color: rgb(10, 90, 17);
    transition: all ease-in-out 150ms;
}

.contentbox {
    margin-top: 0vh;
}

.contentbox h1 {
    font-family: 'Michroma', sans-serif;
    font-size: 10vh;
    color: rgba(0, 0, 0, 0);
    font-weight: 100;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    position: relative;
    margin-top: 0vh;
    margin-bottom: 0vh;
}

.contentbox h2 {
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-size: 10vh;
    padding-left: 2vw;
    text-align: center;
    transition: ease-in-out 400ms;
}

.contentbox h3 {
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-size: 5vh;
    padding-left: 2vw;
    text-align: left;
    transition: ease-in-out 400ms;
    margin-bottom: 0vh;
}

.contentbox p {
    color: rgb(255, 255, 255);
    font-size: 3vh;
    font-weight: 300;
    padding-left: 3vw;
    padding-right: 5vw;
}

.contentbox .biglinkleft {
    grid-column: 1;
    transition: ease-in-out 400ms;
    grid-row: 1;
}

.contentbox .biglinkright {
    grid-column: 2;
    grid-row: 1;
    transition: ease-in-out 400ms;
}

.contentbox .biglinkright:hover {
    transition: ease-in-out 400ms;
}

.contentbox .title {
    padding-bottom: 0vh;
    line-height: 8vh;
    grid-column: 1;
    margin-top: 0vh;
    /* grid-row-start: 2; */
    /* grid-column: repeat(4, 2vh); */
}

.contentbox .description {
    transition: ease-in-out 400ms;
    /* position: absolute; */
    margin-left: 50vw;
    grid-column: 1 / span 3;
    grid-row-start: 2;
}

.contentbox .title:nth-child(4n-3) {
    grid-column: 1;
    grid-row: 2;
}

#ic1 {
    height: 70vh;
    background-image: url("../resources/images/audience-g92176bc73_1920.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    /* background-filter: blur(5px); */
    /* opacity: 0.6; */
}

#ec2 {
    display: grid;
    grid-template-columns: 50vw 50vw;
    background-size: cover;
    background-position: center;
    /* height: 20vh; */
    grid-template-rows: auto repeat(4, 10vh);
    -webkit-transition: background-image 1s ease-in-out;
    transition: ease-in-out 400ms;
    padding-bottom: 10vh;
}

#ec2 p {
    opacity: 0;
    /* height: 0vh; */
    /* margin: 0vh; */
    color: white;
}

#ac1 {
    height: 70vh;
    background-image: url("../resources/images/pexels-belle-co-1000444.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
}

#ac2 {
    height: 40vh;
    background-image: url("../resources/images/laser-light-ga4f07054a_1920.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    grid-template-columns: 50vw 50vw;
}

#ac2:hover {
    filter: grayscale(100%);
    /* opacity: 0.8; */
    transition: ease-in-out 400ms;
}

.medialeft {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: none;
    align-items: center;
    grid-gap: 10vw;
    margin-bottom: 15vh;
}

.medialeft h1 {
    font-weight: 800;
    text-align: left;
    margin-top: -10vh;
    grid-column: 2;
    grid-row: 1;
    font-size: 2.5vw;
}

.medialeft p {
    line-height: 1.5;
    color: rgb(39, 39, 39);
    margin-top: 9vw;
    grid-column: 2;
    grid-row: 1;
    font-size: 0.9vw;
}

.medialeft .img {
    width: 40vw;
    grid-column: 1;
    grid-row: 1;
    margin-left: 1vw;
}

.vid {
    background-color: #000000;
    margin-top: 0.2vh;
}

.headvid {
    height: 85vh;
    margin-left: 15vw;
}

.mediaright {
    margin-top: 15vh;
    margin-bottom: 15vh;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: none;
    align-items: center;
    grid-gap: 10vw;
}

.mediaright .multi {
    height: 35vh;
    grid-column: 2;
    grid-row: 1;
    margin-right: 10vw;
}

.mediaright .img {
    width: 40vw;
    grid-column: 2;
    grid-row: 1;
    margin-right: 1vw;
}

.mediaright h1 {
    font-size: 2.5vw;
    margin-top: -10vh;
    margin-left: 1vw;
    grid-column: 1;
    grid-row: 1;
}

.mediaright p {
    font-size: 0.9vw;
    margin-top: 9vw;
    margin-left: 1vw;
    grid-column: 1;
    grid-row: 1;
}

.collapsible {
    background-color: #313131;
    font-family: 'Michroma', sans-serif;
    font-size: 8vh;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px white;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: all ease-in-out 200ms;
}

.active,
.collapsible:hover {
    background-color: rgb(71, 71, 71);
    transition: all ease-in-out 200ms;
}

.collapsible:after {
    content: url("../resources/images/downarr.png");
    font-weight: bold;
    float: right;
    margin-left: 15px;
    transition: all cubic-bezier(.82, .01, .58, 1) 200ms;
}

.active:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: all cubic-bezier(.82, .01, .58, 1) 200ms;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
}

.heading {
    font-family: 'Michroma', sans-serif;
    font-size: 10vh;
    color: rgba(0, 0, 0, 0);
    font-weight: 100;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 0vh;
    position: relative;
}

.subtext {
    font-size: 2vh;
    text-align: center;
    padding-bottom: 3vh;
}

body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.formcontainer {
    float: right;
}

.formcontainer .iframeHeader {
    color: black;
    text-decoration: none;
    font-size: 2.5vh;
    text-align: center;
}

.formcontainer .form {
    border: none;
    height: 70vh;
    width: 30vw;
    float: right;
    padding: 5vw;
}

.mapcontainer {
    float: left;
    margin-left: 10vw;
}

.mapcontainer .iframeHeader {
    color: black;
    text-decoration: none;
    font-size: 2.5vh;
    text-align: center;
}

.mapcontainer .map {
    border: none;
    height: 70vh;
    width: 30vw;
    float: left;
}

.attpara {
    margin-left: 1vw;
    margin-right: 1vw;
    color: white;
}

.para {
    margin-left: 60vw;
    margin-right: 10vw;
    margin-top: -65vh;
}

h1 {
    text-transform: uppercase;
    /* text-align: center; */
}

h2 {
    text-transform: uppercase;
    font-family: 'Michroma', sans-serif;
    color: rgba(0, 0, 0, 0);
    font-weight: 100;
    -webkit-text-stroke-width: 2px;
}

h3 {
    text-transform: uppercase;
    font-family: 'Michroma', sans-serif;
    color: rgba(0, 0, 0, 0);
    font-weight: 100;
    -webkit-text-stroke-width: 2px;
}

h4 {
    margin-top: 0vh;
    margin-left: 2vw;
    color: rgba(0, 0, 0, 0);
    font-weight: 100;
    -webkit-text-stroke-width: 2px;
}

.headimg {
    width: 50vw;
    margin-left: 5vw;
}

.vertical-line {
    width: 50%;
    margin: auto;
    margin-top: 50%;
    margin-bottom: 50%;
    transform: rotate(90deg);
    border-color: rgb(10, 90, 17);
}

.vl {
    border-left: 0.1vw solid rgb(10, 90, 17);
    height: 40vh;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    margin-top: 35vh;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.btn-2 {
    width: 1000px;
    height: 100px;
    border: none;
    color: black;
    border-radius: 4px;
    transition: ease-out 0.3s;
    background-color: rgb(10, 90, 17);
    font-size: 2rem;
    outline: none;
    position: relative;
    z-index: 1;
}

.btn-2:hover {
    color: white;
    cursor: pointer;
}

.btn-2:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: rgb(0, 168, 22);
}

.btn-2:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.gallery {
    display: grid;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    background: var(--clr-neutral-900);
}

.card {
    color: white;
    background-image: url(../resources/images/Beethoven.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 60ch;
    border-radius: .5rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient( hsl(0 0% 0% / 0), hsl(20 0% 0% / .3) 20%, hsl(0 0% 0% / 1));
    transform: translateY(80%);
    transition: transform 500ms ease;
}

.card:hover .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
}

.card-content>*:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
}

.card:hover .card-content>*:not(.card-title) {
    opacity: 1;
    /* transition-delay: 500ms; */
}

.card-title {
    position: relative;
    width: max-content;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding)*-1);
    bottom: -2px;
    width: calc(100% + var(--padding));
    background: rgb(0, 168, 22);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease-in-out;
}

.card:hover .card-title::after {
    transform: scaleX(1);
}

.card-body {
    color: rgb(255, 255, 255 /.8)
}

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: rgb(0, 168, 22);
    padding: .5em 1.25em;
    transition: 200ms ease-in-out;
    border-radius: .25em;
}

.button:hover {
    transition: 200ms ease-in-out;
    background-color: rgb(10, 90, 17);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animheading {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: 'Courier', monospace;
    color: white;
    position: relative;
    width: max-content;
}

.animheading::before,
.animheading::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.animheading::before {
    background: rgb(14, 14, 14);
    animation: typewriter 3s steps(15) 1s forwards;
}

.animheading::after {
    width: .125em;
    background: white;
    animation: typewriter 3s steps(15) 1s forwards, blink 1200ms steps(15) infinite;
}

.subtitle {
    font-family: 'Michroma', sans-serif;
    font-size: 10vh;
    color: white;
    /*color: white;
    font-size: 5rem;*/
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    padding-left: 2vw;
    padding-right: 2vw;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 5s ease 6s forwards;
}

.box {
    position: absolute;
    top: 110%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
}

input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}

input[type="text"] {
    background: rgb(144, 238, 144);
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

input[type="submit"] {
    position: relative;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: green;
    color: black;
}

input[type="submit"]:hover {
    background: lightgreen;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* SFHS TSA 2021*/