html,
body {
    margin: 0;
    background: rgb(0, 0, 0);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100%;
    overflow-x: hidden;
}

@media (min-width: 749px) {}

.header {
    z-index: 9;
    overflow: hidden;
    background-color: #0E0E0E;
    position: fixed;
    height: 12vh;
    width: 100vw;
    transition: all cubic-bezier(1, .45, .5, .84) .25s;
}

.header.is-active {
    background-color: #0e0e0e85;
}

.header ul {
    width: 100vw;
    list-style-type: none;
    margin-top: -30vh;
    margin-left: -4vw;
    position: absolute;
}

.header ul li {
    padding-bottom: 3vh;
    text-align: left;
}

.header ul li a {
    color: rgb(0, 168, 22);
    transition: all ease-in-out 150ms;
    text-decoration: none;
    font-size: 5vw;
    /* padding-left: 6vw; */
}


/* LEGACY MENU */

.header .hambgrmenu {
    width: 10vw;
    margin-top: 3vh;
    margin-left: 6vw;
    position: absolute;
}


/* NEW MENU */

.hamburger {
    width: 10vw;
    margin-top: 3vh;
    margin-left: 6vw;
    position: fixed;
    /* position: relative; */
    /* margin-top: -7vw; */
    display: block;
    width: 45px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 10;
    /* margin-left: 92vw; */
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
    z-index: 2;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    background-color: rgba(0, 0, 0, 0);
    transform: translateY(30px);
}

.mobile-nav {
    position: fixed;
    top: 10;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 2;
    background-color: black;
    padding-top: 20vh;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
    display: block;
    font-size: 5vh;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 20px;
    text-align: center;
    padding: 2.5vh 10vw;
    background: darkgreen;
    color: white;
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: green;
}

.header .logo {
    margin-top: 2vh;
    /* margin-left: 50%; */
    height: 8vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* position: relative; */
    /* margin-left: 15vw; */
    /* margin-top: 2vh; */
    transition: 100ms ease-in-out;
}

.header .news {
    display: none;
    position: absolute;
    width: 8vw;
    margin-left: 5vw;
    margin-top: 38vh;
    transition: all ease-in-out 150ms;
}

.header .supp {
    display: none;
    width: 8vw;
    margin-top: 38vh;
    margin-left: 6vw;
    transition: all ease-in-out 150ms;
}

.h1 {
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
    font-family: 'Michroma', sans-serif;
    color: rgba(0, 0, 0, 0);
    font-weight: 100;
    /* -webkit-text-stroke-width: 2px; */
}

.contentbox {
    margin: 0vh;
    width: 100vw;
}

.contentbox h1 {
    font-family: 'Michroma', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 9vw;
    color: white;
    font-weight: 900;
    /* -webkit-text-stroke-width: 2px; */
    /* -webkit-text-stroke-color: white; */
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    position: relative;
    margin-top: 0vh;
    margin-bottom: 0vh;
    text-shadow: 0px 0px 10px black;
    /* position: absolute; */
}

.contentbox h2 {
    color: white;
    /* -webkit-text-stroke-color: rgb(255, 255, 255); */
    font-size: 10vh;
    padding-left: 2vw;
    text-align: center;
    transition: ease-in-out 400ms;
}

.contentbox h3 {
    color: white;
    font-size: 3vh;
    padding-left: 2vw;
    text-align: center;
    transition: ease-in-out 400ms;
    margin-bottom: 0vh;
}

.contentbox p,
.card2 p {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.63);
    font-size: 3vh;
    color: white;
    font-weight: 300;
    line-height: 1.2;
    padding-left: 5vw;
    padding-right: 5vw;
    /* position: absolute; */
    margin-top: 5vh;
}

#ec1 {
    display: none;
}

.glowbtn {
    position: relative;
    display: inline-block;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    line-height: 5.5vh;
    color: #fff;
    font-size: 4vh;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    /* background-color: rgba(0, 0, 0, 0); */
    background: linear-gradient(90deg, #0a5a11, #1acad6, #0f9099, #00a816);
    border-width: 2px;
    /* animation: animate 8s linear infinite; */
    /* light green : rgb(0, 168, 22) */
    /* dark green : rgb(10, 90, 17) */
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
}

.glowbtn span {
    /* background-color: black; */
}

#ic1 a {
    position: relative;
    display: inline-block;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    line-height: 5.5vh;
    color: #fff;
    font-size: 4vh;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    border: linear-gradient(90deg, #0a5a11, #1acad6, #0f9099, #00a816);
    border-width: 3px;
    /* background: linear-gradient(90deg, #0a5a11, #1acad6, #0f9099, #00a816); */
    /* animation: animate 8s linear infinite; */
    /* light green : rgb(0, 168, 22) */
    /* dark green : rgb(10, 90, 17) */
    background-size: 400%;
    /* border-radius: 30px; */
    z-index: 1;
    background-color: rgb(10, 90, 17);
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    border-radius: 20px;
    transition: ease-in-out 200ms;
    text-decoration: none;
}

#ic1 .logo {
    width: 80vw;
    margin-left: 8vw;
}

#ic1 a span {
    font-family: 'Barlow Condensed', sans-serif;
}

#ic1btn {
    display: none;
}

#inddownarr {
    width: 8vw;
    margin-left: 48vw;
    margin-top: 10px;
    animation: bounce 1s linear infinite;
    /* margin-top: 60vh; */
}



#backbtn {
    background-color: rgb(10, 90, 17);
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    border-radius: 20px;
    transition: ease-in-out 200ms;
    text-decoration: none;
}

#ic1 {
    height: 88vh;
    padding-top: 12vh;
    background-image: url("../resources/images/festival-gc56663139_1920.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-position: top; */
    margin-bottom: 10vh;
    background-color: rgba(0, 0, 0, 0);
}

#ic2 {
    background-image: url("../resources/images/casette.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10vh;
    background-color: rgba(0, 0, 0, 0);
    /* overflow-y: scroll; */
    will-change: transform;
}

#ic2 h1 {
    font-size: 6vw;
    background-color: rgba(0, 0, 0, 0.486);
    padding-top: 0vh;
}

#ic2h1cont {
    position: sticky;
    position: -webkit-sticky;
    /* position:fixed; */
    top: 12vh;
    text-align:center;
    width: 100vw;
    /* margin-top:0vh; */
    margin-bottom:0vh;
}

#ic2 p {
    padding-top: 8vw;
}

#ic3 h1 {
    /* font-size: 6vw; */
    background-color: rgba(0, 0, 0, 0.486);
    padding-top: 0vh;
}

#ic3bp {
    overflow: hidden;
    transition: all ease-in-out 10ms;
}

#ic3h1cont {
    position: -webkit-sticky;
    position: sticky;
    top: 12vh;
}

#ic2cc h2 {
    display: none;
}

#ic3cc h2 {
    display: none;
}

#ic2cc h3 {}

#ic2cc p {
    text-align: center;
    margin-top: 0vh;
}

#ic3cc p {
    text-align: center;
    margin-top: 0vh;
}

#ic3 {
    background-image: url("../resources/images/vrspeed.jpg");
    background-size: cover;
    background-position: center -20vh;
    background-repeat: no-repeat;
    margin-bottom: 10vh;
    background-color: rgba(0, 0, 0, 0);
}

#ac1 {
    margin-top: 12vh;
    background-image: url("../resources/images/stage-epiclighting.jpg");
    background-size: cover;
    background-position: center -35vh;
    background-repeat: no-repeat;
    margin-bottom: 10vh;
    background-color: rgba(0, 0, 0, 0);
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.formcontainer {
    height: 180vw;
    margin-bottom: 3vh;
}

.formcontainer .iframeHeader {
    font-weight: 800;
    font-size: 150vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.formcontainer .form {
    border: none;
    width: 80vw;
    margin-right: 10vw;
    float: right;
    height: 170vw;
    margin-top: 5vh;
}

.mapcontainer {
    margin-top: 5vh;
    height: 120vw;
}

.mapcontainer .map {
    border: none;
    height: 120vw;
    width: 80vw;
    margin-left: 10vw;
    float: left;
}


/* contact info box */

.contactcontent {
    margin-top: 12vh;
}

.contactbox {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: rgb(10, 90, 17);
    margin-left: 10vw;
    width: 80vw;
}

.contactbox h3 {
    text-align: center;
    color: rgba(0, 0, 0, 0);
    font-weight: 100;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 5vh;
    margin-top: 0;
    margin-left: 2vw;
    margin-bottom: 0;
}

.infobox div {
    display: flex;
    margin: 0;
    margin-left: 2vw;
    padding: 0;
    align-items: center;
}

.infobox div span {
    width: 40px;
    height: 40px;
    background: rgb(0, 168, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%
}

.infobox div p {
    color: white;
    font-size: 3vh;
    margin-left: 1em;
    padding: 0;
}

.infobox div a {
    margin-left: 1em;
    font-size: 3vh;
    color: white;
    transition: all ease-in-out 250ms;
    text-decoration: none;
}

.soc {
    margin-top: 10px;
    display: flex;
}

.soc li {
    list-style: none;
    margin-right: 15px;
}

.soc li a {
    color: white;
    transition: all ease-in-out 250ms;
    font-size: 4vh;
}

.soc li a:hover {
    color: rgb(146, 146, 146);
    font-size: 4vh;
    transition: all ease-in-out 250ms;
}

.collapsible {
    background-color: #313131;
    font-family: 'Michroma', sans-serif;
    font-size: 8vh;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px white;
    cursor: pointer;
    padding: 20px;
    width: 100vw;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: all ease-in-out 200ms;
}

.active,
.collapsible:hover {
    background-color: rgb(71, 71, 71);
    transition: all ease-in-out 200ms;
}

.collapsible:after {
    content: url("../resources/images/downarr.png");
    font-weight: bold;
    float: right;
    margin-left: 15px;
    transition: all cubic-bezier(.82, .01, .58, 1) 200ms;
}

.active:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: all cubic-bezier(.82, .01, .58, 1) 200ms;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
}

.heading {
    margin-top: 12vh;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    text-align: center;
}

.subtext {
    padding-left: 2vw;
    padding-right: 2vw;
}

.attpara {
    color: rgb(255, 255, 255);
    margin-left: 1vw;
    margin-right: 1vw;
}

.ctnt {
    /* height: 90vh; */
    width: 100vw;
    background-color: black;
    /* overflow: clip; */
}

.para {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: -97vh;
    color: rgb(255, 255, 255);
    /* overflow: scroll; */
}

.headimg {
    height: 100vh;
    margin-left: -110vw;
    top: 0vh;
}

.cardcontainer {
    /* display: flex; */
    justify-content: center;
    margin-top: 3vh;
}

.card2 {
    align-self: center;
    width: 100vw;
    margin-bottom: 20vh;
    height: 62vh;
    border-radius: 20px;
}

.card-image {
    background-color: aqua;
    height: 10vh;
    margin-bottom: 0px;
    background-size: cover;
}

.card-1 {
    background-image: url(../resources/images/crowd.jpg);
}

.card-2 {
    background-image: url(../resources/images/producer.jpg);
    margin-top: 30vh;
}

.card2 h1 {
    color: white;
    text-align: center;
    font-size: 4vh;
    margin-top: -7.5vh;
    font-family: 'Michroma', sans-serif;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-bottom: 8vh;
}

.card2 a {
    /* background-color: rgb(10, 90, 17); */
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    border-radius: 20px;
    transition: ease-in-out 200ms;
    text-decoration: none;
}


/* .card2 p {
    font-size: 3vh;
    padding-right: 1vw;
    background-color: #000;
    padding-left: 1vw;
    margin-top: 0vh;
    color: white;
} */

#artistsec {
    margin-top: -10vh;
}

#ac2 {
    height: 18vh;
    background-image: url("../resources/images/laser-light-ga4f07054a_1920.jpg");
}

#ac2 h2 {
    font-size: 4vh;
    padding-top: 0vh;
    margin-top: 0vh;
    padding-bottom: 0vh;
    margin-bottom: 0vh;
}

h2 {
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase;
}

.biglinkleft {
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: rgba(0, 0, 0, 0.13);
}

.biglinkright {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.heading {
    font-family: 'Michroma', sans-serif;
    font-size: 5vh;
    color: rgba(255, 255, 255);
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 0vh;
    position: relative;
}

.box {
    position: relative;
    margin-top: 10vh;
    left: 50vw;
    width: 100vw;
    transform: translate(-50%, -50%);
}

input {
    position: relative;
    display: inline-block;
    font-size: 2vh;
    font-family: 'Barlow Condensed', sans-serif;
    box-sizing: border-box;
    transition: .5s;
}

input[type="text"] {
    background: rgb(255, 255, 255);
    margin-left: 15vw;
    width: 50vw;
    height: 5vh;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

input[type="submit"] {
    position: relative;
    border-radius: 0 25px 25px 0;
    width: 20vw;
    height: 5vh;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(10, 90, 17);
    color: white;
}

input[type="submit"]:hover {
    background: rgb(0, 168, 22);
}

.gallery {
    margin-top: 5vh;
    align-items: center;
}

.card {
    margin-left: 10vw;
    color: white;
    background-size: cover;
    background-position: center;
    padding: 30vh 0 0;
    /* height: 30vh; */
    width: 80vw;
    border-radius: .5rem;
    overflow: hidden;
    transform: scale(1.05);
    margin-bottom: 10vh;
}

.card-content {
    /* margin-top: -10vh; */
    /* transform: translateY(80%);
    transition: transform 500ms ease; */
    --padding: 1vh;
    padding: var(--padding);
    background: linear-gradient( hsl(0 0% 0% / 0), hsl(20 0% 0% / .3) 20%, hsl(0 0% 0% / 1));
}

.card:hover .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
}

.card-content>*:not(.card-title) {
    opacity: 1;
    transition: opacity 500ms linear;
}

.card:hover .card-content>*:not(.card-title) {
    opacity: 1;
    /* transition-delay: 500ms; */
}

.card-title {
    font-family: 'Michroma', sans-serif;
    position: relative;
    width: max-content;
}

.card-title::after {
    font-family: 'Michroma', sans-serif;
    content: "";
    position: absolute;
    height: 0.5vh;
    left: calc(var(--padding)*-1);
    bottom: -1vh;
    width: calc(100% + var(--padding));
    background: rgb(0, 168, 22);
}

.card .card-title {
    transform: scaleX(1);
}

.card-body {
    color: rgb(255, 255, 255 /.8);
    font-family: 'Barlow Condensed', sans-serif;
}

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: rgb(0, 168, 22);
    padding: .5em 1.25em;
    transition: 200ms ease-in-out;
    border-radius: .25em;
}

.button:hover {
    transition: 200ms ease-in-out;
    background-color: rgb(10, 90, 17);
}


/* Event Cards */

.eventcardcontainer {
    /* overflow-x: auto; */
    /* white-space: nowrap; */
    /* display: flex; */
    --top-dist: -70%;
    --skew-deg: 80deg;
    scroll-snap-type: y mandatory;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0;
    margin-top: 12vh;
    width: 100vw;
    height: 88vh;
}

.card27 {
    /* margin-top: 15vh; */
    /* display: inline-block; */
    /* white-space: normal; */
    /* margin-left: 3vw; */
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
    max-height: 100%;
    width: 100vw;
    height: 88vh;
    background: #0F0F0F;
    overflow: hidden;
    align-items: center;
}

.card27::before {
    content: "";
    position: absolute;
    top: var(--top-dist);
    width: 100%;
    height: 100%;
    background: #1a743c;
    transform: skewY(var(--skew-deg));
    transition: 0.5s;
    top: -70;
}

#basicet::before {
    background: #1a743c;
}

#advet::before {
    background-color: #009dff;
    transition: ease-in-out 0.5s;
}

#vret::before {
    background-color: #d09d1f;
}

.card27::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.1);
}

.card27 .imgBx {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.card27 .imgBx img {
    max-width: 100%;
    transition: ease 0.3s;
    max-width: 50%;
}

.card27 .contentBx {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.card27 .contentBx h3 {
    /* margin-top: 100px; */
    /* color: white; */
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: ease-in-out 0.2s;
    margin-top: -30px;
    transition: ease 0.5s;
    color: #000;
    text-shadow: 0 0 10px #FFF;
}

.card27 .contentBx .price {
    /* letter-spacing: 1px; */
    margin-top: -40px;
    color: white;
    font-size: 2vh;
    text-transform: none;
    font-weight: 300;
    transition: ease 0.2s;
}

.card27 .contentBx #buy {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 10px 30px;
    margin-top: 30px;
    color: white;
    text-decoration: none;
    /* background: #1a743c; */
    border-radius: 30px;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
    margin-left: 50%;
    line-height: 25px;
}

.card27:hover .contentBx h3 {}

.card27:hover .contentBx .buy {
    top: 0;
    opacity: 1;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

@keyframes bounce {
    0% {
        padding-top: 0;
    }
    50% {
        padding-top: 15px;
    }
    95% {
        padding-top: 0;
    }
}